<div id="products-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#products-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#products-carousel" data-slide-to="1"></li>
    <li data-target="#products-carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active" style="height: 420px;">
      <img src="../../assets/mountain2.jpeg" style="width:100%; height:420px; position: absolute"/>
      <div style="z-index: 100; position: absolute; left: 250px; top: 100px;">
        <h1>실시간 등산 정보 시각화 서비스</h1>
        <h4>전국 교통, 기상, 산행 공공데이터를 분석하여 전국 국립공원의 산행 코스, 교통편 추천 등이 제공 가능한 시각화 서비스</h4>
      </div>
    </div>
    <div class="item" style="height: 420px;">
      <img src="../../assets/mountain4.jpeg" style="width:100%; height:420px; position: absolute"/>
      <div style="z-index: 100; position: absolute; left: 250px; top: 100px;">
        <h1>Twitter를 이용한 등산 관련 정보 제공</h1>
        <h4>Twitter API를 이용, 등산 관련 키워드가 포함된 관련 정보를 추출하여 제공</h4>
      </div>
    </div>
    <div class="item" style="height: 420px;">
      <img src="../../assets/mountain6.jpeg" style="width:100%; height:420px; position: absolute"/>
      <div style="z-index: 100; position: absolute; left: 250px; top: 100px; background-color: mintcream; opacity: 0.7;">
        <h1>자유게시판을 통한 등산-풀 모집 기능</h1>
        <h4>자유게시판을 통해 사이트 이용 회원 간 등산-풀 모집 기능, 기타 사진/영상 업로드 기능 제공</h4>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#products-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" style="width:48px; height:48px;">
      <img src="../../assets/foundation-icons/svgs/fi-arrow-left.svg" style="background-color: #bce8f1">
    </span>
  </a>
  <a class="right carousel-control" href="#products-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" style="width:48px; height:48px;">
      <img src="../../assets/foundation-icons/svgs/fi-arrow-right.svg" style="background-color: #bce8f1">
    </span>
  </a>
</div>

<!--<div class="img" style="height: 420px; background-image: url('../../assets/mountain-view.png'); background-size: 100% 100%;"></div>-->
