<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li><h5 style="color: #1ea450">IsReal 실시간 등산 정보 시각화</h5></li>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="menu">
      <li class="menu-text"><a href="#" style="color: #d9edf7">로그인</a></li>
      <li class="menu-text"><a href="#" style="color: #d9edf7">로그아웃</a></li>
      <li class="menu-text"><a href="#" style="color: #d9edf7">회원정보</a></li>
      <li class="menu-text"><a href="#" style="color: #d9edf7">메시지</a></li>
    </ul>
  </div>
</div>

