<navbar></navbar>

<carousel></carousel>

<br>
<br>

<nav class="medium-7 columns">
  <select-section></select-section>
</nav>

<br>

<div class="row">
  <div class="medium-8 columns">
    <router-outlet></router-outlet>
  </div>

  <div class="medium-3 columns">
    <announcement-section></announcement-section>
    <hr>
    <bbs-section></bbs-section>
    <hr>
    <mt-graph></mt-graph>
  </div>
</div>

<div style="background-color: #66CC44; padding-bottom: 10px;">
<footer-section></footer-section>
</div>
