<navbar></navbar>
<br>
<br>
<nav class="medium-7 columns">
  <a routerLink="/weather-section" style="float: right">
    <img src="../assets/weather.png" style="width:48px; height:48px;">
    <h6>날씨</h6>
  </a>
  <a routerLink="/transportation-section" style="float: right">
    <img src="../assets/transportation.png" style="width:48px; height:48px;">
    <h6>교통</h6>
  </a>
</nav>
<br>


<div class="row">
  <div class="medium-8 columns">
    <router-outlet></router-outlet>
  </div>

  <div class="medium-3 columns">
    <announcement-section></announcement-section>
    <bbs-section></bbs-section>
  </div>
</div>
