<div class="row placeholders">
  <div class="col-xs-6 col-sm-3" style="float: right; margin-left: 20px;">
    <a routerLink="/weather-section">
      <img src="../../assets/weather.png" style="width:48px; height:48px;">
      <h6>Weather</h6>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3" style="float: right; margin-left: 20px;">
    <a routerLink="/transportation-section">
      <img src="../../assets/transportation.png" style="width:48px; height:48px;">
      <h6>Traffic</h6>
    </a>
  </div>
  <div class="col-xs-6 col-sm-3" style="float: right; margin-left: 20px;">
    <a routerLink="/main">
      <img src="../../assets/mountain.png" style="width:48px; height:48px;">
      <h6>Mountains</h6>
    </a>
  </div>
</div>
